@charset "EUC-KR";
td{
	 background: yellow; 
	 font: 20px 궁서 bold;
	 width : 400px;
	 text-align: center;
}


input{
	color: red;
	font: 40px 굴림 bold;
	background : grey; 
}

#total{
	width: 800px;
	height: 800px;
	background-image: url(../img/back.png)
}
button{
	color : yellow;
	font : 45px 궁서 bold italic;
	background-color: blue;
}
a{
	text-decoration: none;
	color : red;
}

button:hover{
	background-color:  orange;
}

#top{
	width: 800px;
	height: 100px;
	background: yellow;
	display: table-cell;
	vertical-align: middle;
	padding-left:1px; 
	
}
#top2{
	border-top : 5px solid yellow;
	border-bottom : 10px double blue;
	box-shadow : 10px 10px yellow;
	border-radius: 100px 10px;
	background: green;
	color: white;
	position: fixed;
	top: 5px;
	right: 5px;
	height: 70px;
	width: 250px;
}
#content{
	color: blue;
	font: 25px 궁서bold;
}


body{
	color: blue;/* 글자색 : 파랑*/
}
li {
	list-style: none;
	float: left;
	padding: 15px;
}
li:first-child{ border-radius: 15px 0 0 15px;
}

li:last-child{ border-radius: 0 15px 15px 0 ;
}
li:nth-child(2n) {/* 짝수칸 색깔 */
	background: red;
}
li:nth-child(2n+1) {/* 홀수칸 색깔 */
	background: grey;
}